<div class="card">
    <div class="card-img">
        <img [src]="item.poster_path" alt="">
    </div>
    <div class="card-text">
        <p class="name">{{item.original_title}}</p>
        <p class="overview">{{item.overview}}</p>

        <p class="info"><span>Releas-Data</span><span>{{item.release_date}}</span></p>
        <p class="info"><span>Language</span><span>{{item.original_title}}</span></p>
        <p class="info"><span>Rate</span><span>{{item.vote_average}}</span></p>

    </div>
</div>