<main>
    <section class="info" *ngIf="itemInfoData$ | async as ItemInfo">

        <aside class="left">
            <div class="left-img">
                <img [src]="ItemInfo.poster_path" alt="">
            </div>
            <div class="text">
                <p>
                    Runtime: <span>{{ItemInfo.runtime | time }}</span>
                </p>
                <p>
                    Language: <span>{{ItemInfo.original_language}}</span>
                </p>
            </div>
        </aside>

        <aside class="right">
            <h2>{{ItemInfo.original_title}}</h2>
            <p>Genres:
                <span *ngFor="let item of ItemInfo.genres">{{item.name}}, </span>

            </p>
            <p>
                Budget: <span>{{ItemInfo.budget | currency: 'USD'}}</span>
            </p>
            <p>
                Releas-Data: <span>{{ItemInfo.release_date}}</span>
            </p>
            <p>
                status: <span>{{ItemInfo.status}}</span>
            </p>
            <p>
                Rate: <span>{{ItemInfo.vote_average}}</span>
            </p>

            <div class="img">
                <p>Production Companies:</p>
                <img *ngFor="let img of ItemInfo.production_companies" [ngClass]="{'none': !img.logo_path}"
                    [src]="img.logo_path" alt="">
            </div>

            <p>Overview: <span>{{ItemInfo.overview}}</span></p>

            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>

        </aside>



    </section>
    <section class="video"
    *ngIf="videoUrl; else elseBlock"
    >
        <iframe width="700" height="400" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
    </section>
    <ng-template #elseBlock>
        <p class="error">Movie trailer not found</p>
    </ng-template>
    
</main>